// .power_shop_products_app {
// 	.cart-shortcode,
// 	.woocommerce-form-coupon-toggle,
// 	#order_review .woocommerce-checkout-review-order-table {
// 		display: none !important;
// 	}
// }
$pad_width: 576px;
$pad_width: 810px;

@import "./php.scss";

#power_shop_products_app {
	table.fs-cart-table {
		border: none;
		width: 100%;
		table-layout: fixed;
		tr {
			border: none;
			th {
				background-color: #fff;
			}
			th[data-key="product"] {
				width: 47%;
			}
			th[data-key="qty"] {
				width: 15%;
			}
			th[data-key="unit_price"] {
				width: 15%;
			}
			th[data-key="total"] {
				width: 15%;
			}
			th[data-key="action"] {
				width: 8%;
			}
		}
		th {
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			border: none;
			width: 100%;

			font-size: 1rem;
			font-weight: 600;
			text-align: center;
			color: #333;
			&:nth-child(4) {
				text-align: right;
			}
		}
		td {
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			border: none;
			background-color: #fff;
			font-size: 1rem;
			font-weight: 400;
			text-align: center;
			color: #333;

			&:nth-child(4) {
				text-align: right;
			}
		}

		thead {
			tr {
				th {
					background-color: #eee;
				}
			}
			@media (max-width: $pad_width) {
				display: none;
			}
		}
		tbody {
			@media (max-width: $pad_width) {
				display: block;
				background: #fff;
			}
			tr {
				@media (max-width: $pad_width) {
					width: 100%;
					display: grid;
					grid-template-columns: 2rem 1fr 1fr;
					grid-template-rows: auto auto auto;
					grid-gap: 0rem 0.5rem;
					grid-template-areas:
						"delete product product"
						"delete qty unit_price"
						"delete total_price total_price";
					border-bottom: 1px solid #ddd;
					padding: 1rem 0.5rem;
				}
			}
			th {
				@media (max-width: $pad_width) {
					display: block;
				}
			}
			td {
				@media (max-width: $pad_width) {
					display: block;
					&:nth-child(1) {
						// 商品
						grid-area: product;
					}
					&:nth-child(2) {
						// 數量
						grid-area: qty;
						align-self: center;
					}
					&:nth-child(3) {
						// 單價
						grid-area: unit_price;
						align-self: center;
						justify-self: end;
						text-align: right;
						position: relative;
						width: 100%;
						&::before {
							content: "×";
							position: absolute;
							left: 0;
						}
					}
					&:nth-child(4) {
						// 總價
						grid-area: total_price;
						justify-self: end;
						font-weight: 700;
					}
					&:nth-child(5) {
						// 刪除按鈕
						grid-area: delete;
						justify-self: center;
						align-self: center;
					}
				}
			}
		}
		tfoot {
			tr {
				@media (max-width: $pad_width) {
					display: flex;
					justify-content: space-between;
				}
			}
			th {
				@media (max-width: $pad_width) {
					&:last-child {
						display: none;
					}
				}
			}
			@media (max-width: $pad_width) {
				display: block;
				background-color: #fff;
				padding: 1rem 0.5rem;
			}
		}
		@media (max-width: $pad_width) {
			display: block;
		}
	}
	.CountdownDigit {
		.ps-countdown-digit {
			font-size: 5rem;
			@media (max-width: $pad_width) {
				font-size: 2rem;
			}
			width: 100%; //1.2em
			height: 1.8em;
			background: #eaeef2;
			background-image: linear-gradient(180deg, #eaeef2 10%, #ffffff 100%);
			border-radius: 0.25em;
			box-shadow:
				0 20px 30px -10px rgba(76, 99, 119, 0.1),
				inset 0 -1px 0 0 rgba(76, 99, 119, 0.3),
				inset 0 1px 0 0 #fff;
			color: #4c6377;
			display: flex;
			font-family: "Roboto", sans-serif;
			font-weight: 900;
			margin: 0 0.05em;
			position: relative;
			justify-content: center;
			align-items: center;
		}
	}
}

.ant-modal-content {
	p.fs-variation {
		margin-bottom: 0.5rem;
		border-radius: 0.5rem;
		border: 1px solid #999;
		color: #999;
		padding: 0rem 0.5rem;
		cursor: pointer;
		&:hover,
		&.active {
			color: #333;
			border: 1px solid #333;
		}
	}
	.fs-product-attribute-option {
		border: 1px solid #ddd;
		margin-right: 0.5rem;
		margin-bottom: 0.5rem;
		padding: 2px;
		cursor: pointer;
		font-size: 0.75rem;
		color: #999;
		& > div {
			background-color: #ddd;
			padding: 0.25rem 0.5rem;
		}
		&.active {
			border: 1px solid $primary;
			color: #333;
		}
		&.disabled {
			border: 1px solid #ccc;
			color: #ccc;
			cursor: not-allowed;
			& > div {
				background-color: #eee;
			}
		}
	}
}

div[data-ps-product-id] {
	cursor: pointer;
}

.ps-not-ready {
	cursor: wait !important;
}
