.fast-shop-products {
	table.fs-cart-table {
		border: none;

		tr {
			border: none;
		}
		th {
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			border: none;
			background-color: #eee;
			font-size: 1rem;
			font-weight: 600;
			text-align: center;
			color: #333;
		}
		td {
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			border: none;
			background-color: #fff;
			font-size: 1rem;
			font-weight: 400;
			text-align: center;
			color: #333;
		}
	}
}
.ant-modal-content {
	p.fs-variation {
		margin-bottom: 0.5rem;
		border-radius: 0.5rem;
		border: 1px solid #999;
		color: #999;
		padding: 0rem 0.5rem;
		cursor: pointer;
		&:hover,
		&.active {
			color: #333;
			border: 1px solid #333;
		}
	}
	.fs-product-attribute-option {
		border: 1px solid #ddd;
		margin-right: 0.5rem;
		margin-bottom: 0.5rem;
		padding: 2px;
		cursor: pointer;
		font-size: 0.75rem;
		color: #999;
		& > div {
			background-color: #ddd;
			padding: 0.25rem 0.5rem;
		}
		&.active {
			border: 1px solid $primary;
			color: #333;
		}
		&.disabled {
			border: 1px solid #ccc;
			color: #ccc;
			cursor: not-allowed;
			& > div {
				background-color: #eee;
			}
		}
	}
}
