.power-shop-products {
	.ps-btn {
		outline: none;
		position: relative;
		display: inline-block;
		font-weight: 400;
		white-space: nowrap;
		text-align: center;
		background-image: none;
		background-color: transparent;
		border: 1px solid transparent;
		cursor: pointer;
		transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
		user-select: none;
		touch-action: manipulation;
		line-height: 1.5714285714285714;
		color: rgba(0, 0, 0, 0.88);
		font-size: 14px;
		height: 32px;
		padding: 4px 15px;
		border-radius: 6px;

		&:hover {
			opacity: 0.85;
		}

		&.ps-btn-primary {
			color: #fff;
			background-color: var(--ps-primary);
			box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
		}
	}
}
