@tailwind base;
@tailwind components;
@tailwind utilities;

.jconfirm-holder {
  max-width: 800px !important;
  margin: auto !important;
}

.power-shop-products * {
	-webkit-transform: translate3d(0, 0, 0);
}
